.cartoes{
    max-width: 300px;
    max-height: 300px;
    min-height: 200px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(159, 255, 6);
    padding: 20px;
    margin-bottom: 20px;
}


#pagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(247, 168, 168);
}

.cartoes h1{
    margin-bottom: -10px;
}

.cartoes span:nth-of-type(1){
    font-size: 30px;
    font-weight: 700;
}

.cartoes span:nth-of-type(2){
    font-size: 20px;
    font-weight: 900;
    color: blue;
}

.cartoes span:nth-of-type(5){
    color: green;
}